@font-face {
  font-family: 'Pacifico';
  src: url('pacifico.eot');
  src: url('pacifico.eot?#iefix') format('embedded-opentype'),
       url('pacifico.woff') format('woff'),
       url('pacifico.ttf') format('truetype'),
       url('pacifico.svg#Pacifico') format('svg');
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #3398db;
}

body {-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased; font-family: "Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif; line-height:1;margin:0;padding:0;text-rendering:optimizeLegibility;}

header, footer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 60px;
  width: 80%;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  white-space: nowrap;
}

header {
  top: 0;
  border-bottom: 1px solid #fff
}

footer {
  bottom: 0;
  border-top: 1px solid #fff
}

main {
  position: absolute;
  top: 60px;
  bottom: 60px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 40px 0;
}

a, a:link, a:visited {
  color: #000;
}

a:link,  {
  color: #fff;
}

#theslideshow {
  width: 80%;
  margin: 0 auto;
}

.slide {
  background-color: #3398db;
  color: #fff;
  text-align: center;
}

